@import url('https://fonts.cdnfonts.com/css/irish-grover');

:root {
  --font-primary: 'Irish Grover', cursive;
  --white: #FFFFFF;
  --black: #000000;
  --purple: #64138A;
  --orange: #EC8623;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(149deg, #EC8623 10.62%, #64138A 81.34%);;
}
